.path {
  position: relative;
  margin-top: 290px;
  background-image: url("/images/path/bg.svg");
  width: 100%;
  height: 958px;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    height: 720px;
    margin-top: 160px;
  }

  &::before {
    @include absolute-item() {
      background-image: url("/images/blurs/path-left.svg");
      width: 100%;
      height: 3664px;
      left: 0;
      z-index: -1;
      margin-top: -80%;

      @media (max-width: 769px) {
        height: 1500px;
        filter: blur(20px);
      }
    }
  }
  &::after {
    @include absolute-item() {
      background-image: url("/images/blurs/risks-right.svg");
      width: 100%;
      height: 3044px;
      right: 0;
      z-index: -1;
      margin-top: -80%;
      @media (max-width: 769px) {
        height: 1500px;
        filter: blur(20px);
      }
    }
  }
}

.path__blocks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  margin-left: 190px;
  gap: 40px;

  @media (max-width: 1500px) {
    margin-left: 0;
  }
  @media (max-width: 1121px) {
    gap: 10px;
  }
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    position: static;
    transform: translate(0);
    margin: 0 20px;
  }
  @media (max-width: 450px) {
    align-items: flex-start;
    margin: 0;
  }
  @media (max-width: 380px) {
    margin-top: 20px;
  }
}

.path__block {
  display: flex;
  padding: 48px 53px 48px 54px;
  width: 514px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 30px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  background: rgba(66, 70, 77, 0.3);
  backdrop-filter: blur(45px);
  flex: 1;

  @media (max-width: 1121px) {
    padding: 30px;
    width: 360px;
  }
  @media (max-width: 450px) {
    width: 292px;
    padding: 20px;
  }

  @media (max-width: 380px) {
    width: 262px;
  }
}

.path__block-number {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25; /* 125% */
}
.path__block-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4; /* 140% */

  @media (max-width: 1121px) {
    font-size: 14px;
  }
}

.path__block-right {
  margin-bottom: 128px;

  @media (max-width: 1121px) {
    margin-bottom: 70px;
  }

  @media (max-width: 750px) {
    margin-left: 60px;
  }
}
