.together {
  padding-top: 250px;

  &::before {
    @include absolute-item() {
      background-image: url("/images/blurs/together-left.svg");
      width: 1387px;
      height: 3319px;
      left: 0;
      margin-top: -100%;
      z-index: -1;

      @media (max-width: 769px) {
        width: 800px;
        height: 1500px;
        filter: blur(20px);
      }
    }
  }

  @media (max-width: 769px) {
    padding-top: 120px;
  }
}

.together__hint {
  position: relative;
  z-index: 1;
}

.together__wrapper {
  position: relative;
  padding: 76px 90px;

  border-radius: 40px;
  background: #1b75b3;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding: 35px 30px;
  }

  &::after {
    @include absolute-item() {
      background-image: url("/images/together/girl.png");
      width: 100%;
      max-width: 658px;
      height: 100%;
      max-height: 658px;
      bottom: 0;
      right: 0;

      @media (max-width: 1270px) {
        max-width: 500px;
        max-height: 500px;
      }

      @media (max-width: 1024px) {
        max-width: 355px;
        max-height: 355px;
        right: -50px;
      }
    }
  }
  &::before {
    @include absolute-item() {
      background-image: url("/images/together/line.svg");
      width: 100%;
      max-width: 760px;
      height: 100%;
      max-height: 566px;
      bottom: 40px;
      right: -150px;
      @media (max-width: 1270px) {
        max-width: 660px;
        max-height: 486px;
      }
      @media (max-width: 1024px) {
        max-width: 400px;
        max-height: 300px;
        right: -80px;
      }
    }
  }
}

.together__hint {
  margin-left: 0;
}

.together__title {
  text-align: left;
  margin-left: 0;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  max-width: 600px;

  @media (max-width: 1180px) {
    font-size: 28px;
  }
  @media (max-width: 1024px) {
    font-size: 19px;
    margin-top: 30px;
  }
}
.together__desc {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.41; /* 141.667% */
  max-width: 692px;
  position: relative;
  z-index: 1;
  @media (max-width: 1180px) {
    font-size: 16px;
    max-width: 485px;
    margin-top: 15px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.together__btn {
  margin-top: 70px;

  @media (max-width: 1180px) {
    margin-top: 30px;
  }
}
