.top {
  color: #fff;
  text-align: center;
  font-family: var(--font-secondary);
  font-style: normal;

  line-height: normal;
  padding-top: 300px;

  position: relative;
  &::after {
    @include absolute-item() {
      background-image: url("/images/top/01.svg");
      width: 204px;
      height: 204px;
      top: 104px;
      margin-left: 45px;

      @media (max-width: 1060px) {
        width: 80px;
        height: 80px;
      }
      @media (max-width: 768px) {
        top: 50px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 170px;
  }
}
.top__title {
  font-size: 96px;
  font-weight: 400;
  position: relative;

  @media (max-width: 1000px) {
    font-size: 56px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }

  &::after {
    @include absolute-item() {
      background-image: url("/images/top/02.svg");
      width: 125px;
      height: 112px;
      top: 40px;
      margin-left: 45px;
      @media (max-width: 1060px) {
        width: 50px;
        height: 45px;
        top: 0;
      }
      @media (max-width: 630px) {
        top: -30px;
      }
      @media (max-width: 485px) {
        margin-left: 0;
        right: 0;
      }
    }
  }

  &::before {
    @include absolute-item() {
      background-image: url("/images/top/05.svg");
      width: 126px;
      height: 126px;
      left: 0;
      top: -100px;
      margin-left: 45px;
      @media (max-width: 1060px) {
        width: 60px;
        height: 60px;
        top: -50px;
        left: 60px;
      }
      @media (max-width: 485px) {
        left: 0;
        margin-left: 0;
      }
    }
  }
}
.top__desc {
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;

  @media (max-width: 1000px) {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
  }

  &::after {
    @include absolute-item() {
      background-image: url("/images/top/03.svg");
      width: 176px;
      height: 176px;
      bottom: -120px;
      margin-left: 45px;
      @media (max-width: 1060px) {
        width: 70px;
        height: 70px;
        bottom: 0;
      }

      @media (max-width: 630px) {
        bottom: -60px;
        margin-left: 0;
      }
      @media (max-width: 450px) {
        right: 20px;
      }
    }
  }
  &::before {
    @include absolute-item() {
      background-image: url("/images/top/04.svg");
      width: 164px;
      height: 160px;
      left: 0;
      margin-left: 150px;
      @media (max-width: 1060px) {
        width: 40px;
        height: 40px;
      }
      @media (max-width: 630px) {
        margin-left: 70px;
      }
      @media (max-width: 485px) {
        margin-left: 15px;
        bottom: 0;
      }
    }
  }
}

.top__btn {
  margin-top: 60px;

  position: relative;

  @media (max-width: 768px) {
    margin-top: 25px;
    font-size: 12px;
    padding: 9px 10px;
  }
}
